* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: blueviolet;
}

.main {
    padding: 24px;
    flex: 1;
}

h1{
    text-align: center;
}

.boardDiv{
    /* max-width: 600px; */
    margin: 0 auto;
    text-align: center;
}

.boardDiv{

}